
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.header {
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  margin-right: 10%;
  padding-right: 14%;
}

.header-child{
  height: inherit;
  display: inline-block;
  margin-left: 4px;
}