body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-header {
  float: left;
  max-width: 120px; 
}

.logo {
  max-width: 300px;
  padding: 10px;
  margin: auto;
}

/*
  * Home styling
  */

.home-jumbo-content {
  background-color: #fff;
  padding: '0 50px';
  text-align: center;
}

.home-call-to-action {
  margin: auto;
}

.button-execweb-brand {
  font-size: larger;
  font-weight: bolder;
  color: #fff;
  border-color: #000000;
  background-color: #0095FF;
  border: 2px solid;
  border-radius: 100px;
  padding: 0.5em 2em;
  animation: .5s 0.75s animation-fadeIn ease-out forwards;
}


/*
  Home header About Section
  Title How it works?
*/

.home-about-heading {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  padding-top: 5%;
}

.home-about-content{
  margin: auto;
  padding-bottom: 5px; 
}

/*
 * Menu
*/

.menu {
  padding: 5px;
}

/*
  Home Why IntroEQ section
*/

.home-why-content-wrapper {
  margin: auto;
  background-color: #F7F8FA;
  /*background-color: #fff;*/
}

.home-why-content {
  margin: auto;
}

/*
* Home Footer content
*/
.home-footer {
  background: #fff;
}

.home-footer-logo {
  max-width: 75%;
  padding-top: 8%;
  padding-left: 10%;
}

.home-footer-headers {
  font-weight: bolder;
}

.home-footer-col-wrapper {
  padding-top: 3px;
}

.home-footer-col-wrapper > * {
  padding-top: 3px;
}

.home-footer-icon {
  padding-right: 3px;
  padding-top: 3px;
}

.home-footer-links {
  color: inherit;
}

.home-footer-links > * {
  color: inherit;
}


/*
* End of home footer
*/

.jumbo-image{
  overflow: hidden;
  padding-top: 50px;
}

.jumbo-image img {
  display: block;
  padding-left: 10%;
  object-fit : cover;
  position: relative;
} 

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff; 
  margin-top: 64; 
  width: '75%'; 
  align-content: 'center'; 
  margin-top: 16; 
}

.site-layout-header {
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
}

.header-child {
  display: inline-block;
  margin-left: 4px;
}

.response-field {
  margin: auto;
  padding: 2%;
  padding-bottom: 2%;
  text-align: justify;
}

.response-field .other-input {
  padding: 3%;
  width: 60%;
}

.response-field-wrapper {
  padding-top: 10%;
}

.response-action {
  padding-left: 5%;
  margin-right: 18%;
}

.response-action Button{
  margin: auto;
  float: right;
  background: #1890FF;
  border-radius: 6px;

}

.response-field-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 5%;
}

/*
-- Authentication
*/

.linkedin-auth {
  margin: auto;
  background: #12C1F9;
  border-radius: 6px;
  width: 80%;

}

.linkedin-auth-wrapper {
  padding-left: 7%;
}


.check-box-wrapper{
  min-width: 90%;
  margin: 5%;
  overflow: auto;
}

.check-box {
  display: inline-block;
  padding: 10px;
  margin: 1%;
  border: 1px solid #EFF0F1;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

/*
 * Start of Checkbox styling
*/

/*
  * job titles
*/

.check-box-jobs {
  display: inline-block;
  min-width: 300px;
  padding: 10px;
  margin: 1%;
  border: 1px solid #EFF0F1;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

/*
  * industries 
*/

.check-box-generic {
  display: inline-block;
  min-width: 300px;
  padding: 10px;
  margin: 1%;
  border: 1px solid #EFF0F1;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.check-box-industry-icon {
  font-size: large;
  padding-right: 3px;
  padding-top: 3px;
}

/* Checkbox headcount styling*/

.check-box-headcount {
  display: inline-block;
  min-width: 300px;
  padding: 10px;
  margin: 1%;
  border: 1px solid #EFF0F1;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

/*User List Styling*/
.text{
  padding: 2px;
  font-weight: bolder;
}

.user-check-box-wrapper{
  min-width: 85%;
}

.user-list-check-box {
  padding: 10px;
  margin: 1%;
  border: 1px solid #EFF0F1;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.avatar-wrapper {
  padding: 3px;
  text-align: center;
}

.details-wrapper {
  padding-left: 10px;
}

.popover-content {
  max-width: 25%;
}

.tag-wrapper {
  padding: 0.2%;
}

.user-list-spinner {
  margin: auto;
  vertical-align: center;
}

.check-box-style {
  vertical-align: center;
  margin: auto;
  padding-left: 8px;
}

.user-list-sub-heading {
  font-weight: bolder;
}

/*
* Start of datetime formatting
*/

.date-time-wrapper{
  margin: auto;
}

.date-time-wrapper > * {
  padding-top: 5px;
}

.date-time-heading {
  font-weight: bold;
  padding-right: 5px;
  padding-top: 7px;
}

.sponsor-thankyou{
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.sponsor-thankyou-icon {
  font-size: 50px;
}